name: SonarCloud
on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Shallow clones should be disabled for better analysis

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r playwright-python/requirements-dev.txt
        pip install playwright
        python -m playwright install --with-deps

    - name: Run tests with coverage
      run: |
        cd playwright-python
        python -m pytest --cov=./ --cov-report=xml:coverage.xml --junitxml=test-results.xml -v

    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Automático
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # Configurado nas secrets do repositório
      with:
        args: >
          -Dsonar.organization=gabriel-jmoreira
          -Dsonar.projectKey=gabriel-jmoreira_Cogetic_sonarqube
          -Dsonar.python.coverage.reportPaths=playwright-python/coverage.xml
          -Dsonar.python.xunit.reportPaths=playwright-python/test-results.xml
          -Dsonar.qualitygate.wait=true
